// Font weights
$light: 100;
$regular: 400;
$bold: 600;

// Fixed Font
$title-font-family: "Raleway", sans-serif;
$title-font-size: 54px;

// Base Font
$base-font-family: "Roboto Slab", serif;
$base-font-size: 15px;
